body{
  background-color: #eaf4fc;
}

#canvas{
  position: absolute;
  top: 10px;
  left: 10px;
  z-index:1;
}

.valueDisplay{
  position: relative;
  color: #69821b;
  margin-left: 720px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:600;
}

.Slider{
  -webkit-appearance: none;
  position: relative;
  margin-top: 5px;
  margin-left: 720px;
  margin-bottom: 20px;

  background: none;
  height:16px;
  width:250px;
  border-radius: 8px;
  border: 2px solid #69821b;
}

.Slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width:12px;
  height:12px;
  border-radius: 6px;
  background: #69821b;
  outline: none;
}
