body {
  background-color: #000;
}

#canvas{
  position: relative;
  top: 10px;
  left: 0px;
  z-index:1;
}

#video{
  position: absolute;
  top: 10px;
  left: 10px;
  z-index:0;
  border: 3px #fff solid;
	border-radius: 10px;
}
