body{
  background-color: #000;
}

#canvas{
  position: absolute;
  top: 10px;
  left: 10px;
  z-index:1;
  border: 8px #884898 solid;
	border-radius: 20px;
}

#video{
  position: absolute;
  top: 10px;
  left: 10px;
  z-index:0;
  border: 8px #884898 solid;
	border-radius: 20px;
}

.valueDisplay{
  position: relative;
  margin-left: 665px;
  color: #f7bd8f;

  font-size: 10pt;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:100;
}

.Slider{
  -webkit-appearance: none;
  position: relative;
  margin-top: 5px;
  margin-left: 665px;
  margin-bottom: 10px;

  background: none;
  height:12px;
  width:200px;
  border-radius: 6px;
  border: 1px solid #f7bd8f;
}

.Slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width:9px;
  height:9px;
  border-radius: 5px;
  background: #bf794e;
  outline: none;
}


.imageButtons{
  position: relative;
  margin-top:10px;

  width:30px;
  height:30px;
  border: none;

  cursor: pointer;
}

#screenshot_button{
  margin-left: 675px;
  background: url('/images/screenshot.png');
}

#save_drawing_button{
  margin-left: 20px;
  background: url('/images/savejson.png');
}

#index_UP_button{
  margin-left: 20px;
  background: url('/images/shapeindex_up.png');
}

#index_DOWN_button{
  margin-left: 20px;
  background: url('/images/shapeindex_down.png');
}

.Buttons{
  position: relative;
  -webkit-appearance: none;
  margin-top: 10px;

  height:36px;
  border: 2px solid #fff;
  border-radius: 18px;

  background: none;
  font-size: 10pt;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:100;

  cursor: pointer;
}

#edit_button{
  margin-top: 5px;
  margin-left: 665px;
  margin-bottom: 15px;

  width:200px;
  border-color: #fff;
  font-size: 14pt;
  color: #fff;
}

#complete_button{
  margin-left: 665px;
  border-color: #89c3eb;
  color: #89c3eb;
  width:80px;
}

#undo_button{
  margin-left: 5px;
  border-color: #fff;
  color: #fff;
  width:50px;
}

#delete_button{
  margin-left: 5px;
  border-color: #ee827c;
  color: #ee827c;
  width:60px;
}
