body{
  background-color: #d8e698;
}

.canvas{
  position: absolute;
  top: 10px;
  left: 300px;
  z-index:-1;
}

.valueDisplay{
  position: relative;
  color: #69821b;
  margin-left: 1520px;
  font-family: hanzipen-sc-regular;
  font-weight:200;
  font-size: 38;
}

.Slider{
  -webkit-appearance: none;
  position: relative;
  margin-top: 10px;
  margin-left: 1520px;/*Or 665px*/
  margin-bottom: 20px;

  background: none;
  height:24px;
  width:250px;
  border-radius: 12px;
  border: 2px solid #69821b;
}

.Slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width:12px;
  height:12px;
  border-radius: 6px;
  background: #69821b;
  outline: none;
}
