body{
  background-color: #fff1cf;
}

.valueDisplay{
  color: #bf794e;
  margin-left: 20px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:100;
}

.Slider{
  -webkit-appearance: none;
  background: none;
  height:16px;
  width:250px;
  border-radius: 8px;
  border: 3px solid #bf794e;
  margin-top: 5px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.Slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width:12px;
  height:12px;
  border-radius: 6px;
  background: #bf794e;
  outline: none;
}
