body{
  background-color:#316745;
}

.canvas{
  position: absolute;
  top: 10px;
  left: 10px;
  z-index:1;
}

.valueDisplay{
  position: relative;
  color: #d8e698;
  margin-left: 720px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:600;
}

.Slider{
  -webkit-appearance: none;
  position: relative;
  margin-top: 5px;
  margin-left: 720px;/*Or 665px*/
  margin-bottom: 20px;

  background: none;
  height:16px;
  width:200px;
  border-radius: 8px;
  border: 2px solid #d8e698;
}

.Slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width:12px;
  height:12px;
  border-radius: 6px;
  background: #d8e698;
  outline: none;
}
